{% extends "base.html" %}
{% load staticfiles %}
{% block navbar %}
	<nav class="navbar navbar-default navbar-fixed-top navbar-blink">
        <div class="container">
			<div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" id="mainheading" href="#page-top">Spoiler Attacks</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li id="navbartext">
                        <a class="page-scroll" href="/#services">What We Do</a>
                    </li>
                    <li id="navbartext">
                        <a class="page-scroll" href="/#portfolio">Shows List</a>
                    </li>
                    <li id="navbartext">
                        <a class="page-scroll" href="/#contact">Suggestions</a>
                    </li>
                </ul>
            </div>
      	</div>
    </nav>
{% endblock %}
{% block body %}
<div class="container">
            <div class="row">
                <div class="col-sm-6 col-centered">
                    <div class="panel panel-default">
                        <div class="panel-heading" >
                            <h1>Subscribe</h1>
                        </div>

  
                    <form action="" method="POST">
                   	{% csrf_token %}
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user blue"></i></span>
                                <input type="text" name="InputName" placeholder="Victims Name" class="form-control" autofocus="autofocus" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-comment blue"></i></span>
                                <select name="InputTvshow" class="form-control" required>
                                	<option value="">Select a Tv show</option>
									<option value="mrrobot">MrRobot</option>
									<option value="houseofcards">House of Cards</option>
									<option value="Preacher">Preacher</option>
								</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone blue"></i></span>
                                <input type="number" name="Inputphno" placeholder="Victims Phone" class="form-control" required>
                            </div>
                        </div>
                        
                        <div class="">
                  
						<script
						    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
						    data-key="pk_test_9FcfYrvn3SykO0JOsHqbQjfu"
						    data-amount="100"
						    data-name="Spoiler Attack"
						    data-description="Send spoilers"
						    data-image="{% static "killerapp/img/spoilericon.jpg" %}"
						    data-locale="auto">
						</script>
                        <button type="reset" value="Reset" name="reset" class="btn">Reset <span class="glyphicon glyphicon-refresh"></span></button>
                        </div>
                    </div>
                    </form>
                </div>
                {% if successful %}
                <div class="alert alert-success fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Success!</strong> Now sit back and relax while we do our work. Or you can go ahead and add another contact.
				</div>
				{% endif %}
				{% if failure %}
				<div class="alert alert-warning fade in">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Warning!</strong> Your request dint process throgh, please try again.
				</div>
				{% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    
    {% endblock %}